@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --theme-navy: #111144;
    --theme-pink: #ffcccc;
    --theme-navy-secondary: hsl(240, 60%, 35%);
    --theme-pink-secondary: #e9689dce;
    --theme-blue: #0000d8;
  }

  :root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(222.2, 84%, 4.9%);

    --muted: hsl(210, 40%, 96.1%);
    --muted-foreground: hsl(215.4, 16.3%, 46.9%);

    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(222.2, 84%, 4.9%);

    --card: hsl(0, 0%, 97%);
    --card-foreground: hsl(222.2, 84%, 4.9%);

    --border: hsl(214.3, 31.8%, 91.4%);
    --input: hsl(214.3, 31.8%, 91.4%);

    --primary: hsl(222.2, 47.4%, 11.2%);
    --primary-foreground: hsl(210, 40%, 98%);

    --secondary: hsl(170, 40%, 70%);
    --secondary-foreground: hsl(222.2, 47.4%, 11.2%);

    --accent: hsl(170, 40%, 70%);
    --accent-foreground: hsl(222.2, 47.4%, 11.2%);

    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(210, 40%, 98%);

    --ring: hsl(170, 40%, 70%);

    --radius: 0.5rem;

    --logo-filter: invert(9%) sepia(46%) saturate(4664%) hue-rotate(235deg)
      brightness(82%) contrast(124%);

    --theme-primary: hsl(170, 40%, 10%);
    --theme-secondary: hsl(170, 40%, 50%);
  }

  .dark {
    --background: hsl(210, 14%, 9%);
    --foreground: hsl(210, 40%, 98%);

    --muted: hsl(210, 14%, 11%);
    --muted-foreground: hsl(215, 20.2%, 65.1%);

    --popover: hsl(210, 14%, 11%);
    --popover-foreground: hsl(210, 40%, 98%);

    --card: hsl(210, 14%, 10%);
    --card-foreground: hsl(210, 40%, 98%);

    --border: hsl(210, 14%, 12%);
    --input: hsl(217.2, 32.6%, 17.5%);

    --primary: hsl(210, 40%, 98%);
    --primary-foreground: hsl(222.2, 47.4%, 11.2%);

    --secondary: hsl(170, 40%, 30%);
    --secondary-foreground: hsl(210, 40%, 98%);

    --accent: hsl(170, 40%, 30%);
    --accent-foreground: hsl(210, 40%, 98%);

    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(0, 85.7%, 97.3%);

    --ring: hsl(170, 40%, 30%);

    --logo-filter: invert(83%) sepia(9%) saturate(846%) hue-rotate(314deg)
      brightness(98%) contrast(110%);

    --theme-primary: hsl(170, 40%, 90%);
    --theme-secondary: hsl(170, 40%, 50%);
  }
}

p.notion_paragraph a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  @apply font-semibold hover:brightness-150 hover:text-theme-secondary hover:decoration-theme-secondary transition-colors text-theme-primary decoration-theme-primary;
}

h1.notion_heading_1 span {
  @apply text-theme-primary;
}

h2.notion_heading_2 span {
  @apply text-theme-primary;
}

h3.notion_heading_3 span {
  @apply text-theme-primary;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
